.NavbarItems {
	background: linear-gradient(
		90deg,
		rgb(204, 149, 29) 0%,
		rgb(241, 155, 42) 100%
	);
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
}

.navbar-logo {
	color: #fff;
	justify-self: start;
	margin-left: 20px;
	cursor: pointer;
}

.navbar-logo-icon {
	margin-left: 0.5rem;
	font-size: 1.6rem;
}

.nav-menu {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: center;
	width: 70vw;
	justify-content: end;
	margin-right: 2rem;
}

.nav-links {
	color: antiquewhite;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

.nav-links:hover {
	background-color: burlywood;
	border-radius: 4px;
	transition: all 0.2s ease-out;
}

.fa-bars {
	color: antiquewhite;
}

.nav-links-mobile {
	display: none;
}

.menu-icon {
	display: none;
}

@media screen and (max-width: 960px) {
	.NavbarItems {
		position: relative;
	}

	.nav-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 500px;
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.nav-menu.active {
		background: #f0b40f;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
	}

	.nav-links {
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
	}

	.nav-links:hover {
		background-color: #96700f;
		border-radius: 0;
	}

	.navbar-logo {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(25%, 50%);
	}

	.menu-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		cursor: pointer;
	}

	.fa-times {
		color: #fff;
		font-size: 2rem;
	}

	.nav-links-mobile {
		display: block;
		text-align: center;
		padding: 1.5rem;
		margin: 2rem auto;
		border-radius: 4px;
		width: 80%;
		background-color: #96700f;
		text-decoration: none;
		color: antiquewhite;
		font-size: 1.5rem;
	}

	.nav-links-mobile:hover {
		background: #ee8e11;
		color: #96700f;
		transition: 350ms;
	}
	Button {
		display: none;
	}
}

@media (min-width: 961px) and (max-width: 1106px) {
	.nav-menu {
		font-size: 15px;
	}

	Button.btn--medium {
		padding: 8px 10px;
		border-radius: 4px;
		font-size: 15px;
		color: #fff;
	}

	Button.btn--large {
		padding: 12px 15px;
		border-radius: 4px;
		font-size: 18px;
		color: #fff;
	}

	.nav-menu {
	/* display: grid;
	grid-template-columns: repeat(5, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: center;
	width: 70vw;
	justify-content: end; */
	margin-right: 1.rem;

}

.navbar-logo-icon {
	margin-left: 0.2rem;
	font-size: 1.5rem;
}

.navbar-logo{
	font-size: 1.5rem;
}
}